.box_top
.box_content
  %h2 Product Two
  .box_image_wrapper
    = image_tag 'templatemo_image08.png',alt: 'product 1'
  %p
    Proin a mauris non urna sagittis molestie sit amet sit amet lorem. Nulla lobortis ante et odio semper pulvinar vitae ut nisi.
    %a{href: "#"} Aliquam
    erat volutpat. Quisque lectus odio, accumsan id auctor ut, sodales at nisi.
  .button_01
    %a{href: "#"} Read more
  .cleaner