#templatemo_footer
  .section_w240
    %h3 Privacy Policy
    .sub_content
      %p Nullam ultrices tempor nisi, ac egestas diam aliquam a. Ut eleifend semper turpis, id feugiat arcu dignissim eu. Donec mattis adipiscing imperdiet.
  .section_w240
    %h3 Partners
    .sub_content
      %ul.footer_list
        %li
          %a{href: "http://www.templatemo.com", target: "_parent"} Free CSS Templates
        %li
          %a{href: "http://www.flashmo.com", target: "_parent"} Free Flash Templates
        %li
          %a{href: "http://www.flashmo.com/store", target: "_parent"} Premium Web Templates
        %li
          %a{href: "http://www.webdesignmo.com/blog", target: "_parent"} Web Design Blog
        %li
          %a{href: "http://www.koflash.com"} Best Flash Websites
  .section_w240
    %h3 Other links
    .sub_content
      %ul.footer_list
        %li
          %a{href: "#"} Lorem ipsum dolor
        %li
          %a{href: "#"} Cum sociis
        %li
          %a{href: "#"} Donec quam
        %li
          %a{href: "#"} Nulla consequat
        %li
          %a{href: "#"} In enim justo
  .section_w240
    %h3 Support Team
    .sub_content
      %ul.footer_list
        %li
          %a{href: "#"} Aenean vulputate
        %li
          %a{href: "#"} Etiam ultricies
        %li
          %a{href: "#"} Nullam quis
        %li
          %a{href: "#"} Sed consequat
        %li
          %a{href: "#"} Cras dapibus
  .cleaner_h40
  %center
    Copyright © 2048
    %a{href: "#"} Your Company Name
    |
    %a{href: "http://www.iwebsitetemplate.com", target: "_parent"} Website Templates
    by
    %a{href: "http://www.templatemo.com", target: "_parent"} Free CSS Templates
/ end of footer