.section_w960_p30
  %h2 Welcome to our WEBSITE
  %p.em_text
    This
    %a{href: "http://www.templatemo.com", target: "_parent"} free CSS template
    is provided by TemplateMo.com for anyone. You may download, edit and apply this template for your websites. Credit goes to
    %a{href: "http://www.webappers.com/2008/05/20/148-vector-icons-for-personal-and-commercial-use/", target: "_blank"} webappers.com
    for icons used in this template. Validate
    %a{href: "http://validator.w3.org/check?uri=referer"} XHTML
    \&
    = succeed "." do
      %a{href: "http://jigsaw.w3.org/css-validator/check/referer"} CSS
  .cleaner_h20
  %a{href: "#"}
    %img.image_wrapper.fl_image{alt: "image here", height: "150", src: "/assets/templatemo_image_01.jpg", width: "300"}/
  %p
    Duis vitae ornare ante. Morbi sit amet molestie nisl. Phasellus eu pulvinar nunc.
    %a{href: "#"} Aenean
    a purus sem. Etiam scelerisque nisi vitae justo euismod accumsan. Curabitur et ante quis eros fringilla pretium at a purus. Mauris ullamcorper ipsum nec lacus consectetur porttitor. Quisque
    %a{href: "#"} consectetur
    elit eu metus elementum et tristique turpis dignissim. In hac habitasse platea dictumst.
  %p
    Sed sollicitudin turpis non diam tristique a
    %a{href: "#"} faucibus
    purus pellentesque. Nullam nulla metus, imperdiet at iaculis vitae, viverra vitae lorem. Donec vehicula interdum tristique. Cras sit amet sem ac sapien eleifend
    = succeed "." do
      %a{href: "#"} euismod
    %a{href: "#"} Curabitur
    imperdiet egestas tellus, eget placerat elit lobortis id. Etiam lobortis bibendum fringilla. Quisque tristique tortor ut orci malesuada mattis.
  .cleaner
.cleaner