#templatemo_site_title_bar_wrapper
  #templatemo_site_title_bar
    #site_title
      %h1
        %a{href: "http://www.templatemo.com", target: "_parent"}
          /
            Particles
            <span>free css templates</span>
          =image_tag 'templatemo_logo.png',alt: 'css templates'
          %span free css templates
    #search_box
      %form{action: "#", method: "get"}
        %input#searchfield{name: "q", onblur: "clearText(this)", onfocus: "clearText(this)", size: "10", title: "searchfield", type: "text", value: "Enter keyword here..."}/
        %input#searchbutton{alt: "Search", name: "Search", title: "Search", type: "submit", value: ""}/