.slider_content
  %h2 Lorem ipsum dolor sit amet
  %p Etiam nec purus eleifend diam faucibus cursus. Nunc ac sapien id arcu ultricies imperdiet. Praesent in viverra metus. Morbi sed adipiscing quam. Curabitur at nunc dui, rhoncus molestie massa. Cras condimentum consectetur tortor ut accumsan.
  .more
    %a{href: "#"} More...