#templatemo_menu_wrapper
  #templatemo_menu
    %ul
      %li
        %a.current{href: "#"} Home
      %li
        %a{href: "#"} Products
      %li
        %a{href: "#"} Services
      %li
        %a{href: "#"} Gallery
      %li
        %a{href: "#"} Company
      %li
        %a{href: "#"} Contact
  / end of templatemo_menu
/ end of templatemo_menu_wrapper