.box_top
.box_content
  %h2 Product One
  .box_image_wrapper
    = image_tag 'templatemo_image07.png',alt: 'product 1'
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    %a{href: "#"} Quisque
    nec dictum tortor. Etiam ultrices neque id augue rhoncus in gravida eros dictum. Integer interdum sapien id diam tempor dapibus.
  .button_01
    %a{href: "#"} Read more
  .cleaner