%head
	%meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
	%title Particle - free css template
	%meta{content: "particle, free css templates, CSS, HTML", name: "keywords"}/
	%meta{content: "Particle is a free CSS template provided by templatemo.com", name: "description"}/
	%link{href: "templatemo_style.css", rel: "stylesheet", type: "text/css"}/
	%link{href: "css/jquery.ennui.contentslider.css", media: "screen,projection", rel: "stylesheet", type: "text/css"}/
	%script{language: "javascript", type: "text/javascript"}
:cdata
	function clearText(field)
	{
		if (field.defaultValue == field.value) field.value = '';
		else if (field.value == '') field.value = field.defaultValue;
	}