#templatemo_content_wrapper
  #templatemo_content
    .section_w960_p15
      .box.margin_r_15
        = render 'partials/body_left_box'
        .box_bottom
      .box.margin_r_15
        = render 'partials/body_middle_contents'
        .box_bottom
      .box
        = render 'partials/right_box_contents'
        .box_bottom
    .cleaner_h30
    = render 'partials/main_body_bottom_contents'
  / end of templatemo_content
  #templatemo_content_bottom
/ end of templatemo_content_wrapper