.box_top
.box_content
  %h2 Product Three
  .box_image_wrapper
    = image_tag 'templatemo_image09.png',alt: 'product 1'
  %p
    In cursus vulputate enim at congue. Aenean eleifend lorem eu nisl convallis cursus.
    %a{href: "#"} Phasellus
    dapibus magna est. Nullam viverra adipiscing rutrum. Pellentesque sagittis vestibulum ipsum.
  .button_01
    %a{href: "#"} Read more
  .cleaner